<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsPrintButtonVisible" value="False" />
    <add key="IsOpenFolderButtonVisible" value="False" />
    <add key="PreviewDirectory" value="$(InSituDir)\TECHNICAL_PLAN_PREVIEW" />
    <add key="SM2Directory" value="$(InSituDir)\DocTechnicalPlan" />
    <add key="TemplateDocumentDirectory" value="$(InSituDir)\Doc\DocTechnicalPlan" />
    <add key="TechnicalPlanLayer" value="Plan Technique" />
  </appSettings>
</configuration>