<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsPrintButtonVisible" value="True" />
    <add key="IsOpenFolderButtonVisible" value="True" />
    <add key="PreviewDirectory" value="$(SceneDir)\Preview" />
    <add key="SM2Directory" value="$(SceneDir)\TechnicalPlan" />
    <add key="TemplateDocumentDirectory" value="$(DocDir)\DocTechnicalPlan" />
    <add key="TechnicalPlanLayer" value="Plan Technique" />
  </appSettings>
</configuration>